*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
}

:root {
  --primary-orange: #ff6542;
  --light-gray: #e8e8e8;
}

main {
  min-height: 100vh;
  padding-bottom: 4em;
}

.bg {
  position: fixed;
  height: 110vh;
  width: 110vw;
  z-index: -1;

  background-image: url("/static/bg.jpg");
  background-position: center;
  background-repeat: space;
  background-size: cover;

  filter: blur(5px);
  margin: -5px -10px -10px -5px;
}

input {
  padding: 0.5em;
  width: 100%;
}

select {
  width: 100%;
  padding: 0.5em;
}

.btn {
  background-color: var(--primary-orange);
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;

  transition: transform 250ms ease;
}
.btn:hover {
  transform: scale(1.1);
}

/* ------------
  nav
------------ */

nav {
   background: rgb(70, 140, 113);
  background: linear-gradient(
    90deg,
    rgba(70, 140, 113, 1) 12%,
    rgba(207, 15, 15, 0.7063200280112045) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 1em;
}

.logo {
  font-size: 2em;
  font-family: "Pattaya", sans-serif;
}

.links {
  margin-right: 5em;
  display: flex;
  gap: 2em;
}

.links a {
  color: white;
  font-weight: 700;
  transition: transform 100ms ease;
  padding: 1em 0px;
}
.links a:hover {
  /* color: #c5c5c5; */
  transform: translateY(-5px);
}

/* ------------
  card
------------ */

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.card {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.85);
  padding: 2em;
  border-radius: 10px;
  box-shadow: 2px 0px 23px 10px rgba(132, 132, 132, 0.3);

  transition: box-shadow 250ms ease;
}
.card:hover {
  box-shadow: 2px 0px 23px 12px rgba(132, 132, 132, 0.6);
}

.heading {
  font-size: 1.2em;
  margin: 0px 0px 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* ------------
  create form
------------ */

.create-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* ------------
  container
------------ */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4em;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

/* ------------
  table
------------ */

.table {
  border-collapse: collapse;
  border: 4px solid var(--light-gray);
}

.table th,
td {
  padding: 0.5em 1em;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: var(--light-gray);
}

.table thead {
  background-color: var(--primary-orange);
  color: white;
}

/* ------------
  total
------------ */

.total {
  align-self: flex-end;
  margin-top: 2em;
}

.animate1 {
  animation: animate1 500ms ease;
}
.animate2 {
  animation: animate1 1000ms ease;
}
.animate3 {
  animation: animate1 1500ms ease;
}

@keyframes animate1 {
  0% {
    transform: translateX(-50%);
  }

  70% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
