<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid expense tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="bg"></div>

    <nav>
      <span class="logo">CovidExpenseTracker</span>

      <div class="links">
        <a href="/create">Create</a>
        <a href="/expenses">Expenses</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>
    <div class="container">
      <div class="animate1 card">
        <div class="heading">All Expenses</div>
        <div class="inner-container">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>State</th>
                <th>Title</th>
                <th>Date</th>
                <th>Expense</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in expenses %}
              <tr>
                <td>{{ expense[0] }}</td>
                <td>{{ expense[4] }}</td>
                <td>{{ expense[1] }}</td>
                <td>{{ expense[3] }}</td>
                <td>{{ expense[2] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="total">Total = <b>{{total}}</b></div>
        </div>
      </div>

      <div class="animate2 card">
        <div class="heading">Expenses per user</div>
        <div class="inner-container">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Total Expense</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in by_user %}
              <tr>
                <td>{{ expense[0] }}</td>
                <td>{{ expense[1] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="animate3 card">
        <div class="heading">Expenses per title</div>
        <div class="inner-container">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Total Expense</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in by_title %}
              <tr>
                <td>{{ expense[0] }}</td>
                <td>{{ expense[1] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="animate3 card">
        <div class="heading">Expenses per state</div>
        <div class="inner-container">
          <table class="table">
            <thead>
              <tr>
                <th>State</th>
                <th>Total Expense</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in by_state %}
              <tr>
                <td>{{ expense[0] }}</td>
                <td>{{ expense[1] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
